html, body {
    padding: 0px;
    margin: 0px auto;
}

body {
    width: 800px;
    height: 100%;
    background-color: #64aad0;
    color: white;
    font-family: Helvetica, Arial, Sans-Serif;
}

html {
    height: 100%
}

/* Main Body */

.mainbody {
    width: 800px;
    height: 100%;
    margin-top: 60px;
    background-color: #ffffff;
    border-radius: 5px;  /* rounded corners */
}

/* Navigation Bar */

.nav {
    width: 800px;  /* There's no auto width based on content */
    height: 70px;
    margin-top: 50px;
    z-index: 1; /* Measure of importance. Highest always on top. default = 0 */
    background-color: #034569;
    border-radius: 5px 5px 0px 0px;  /* rounded corners */
    font-size: 1.25em;
}

.nav ul {
    margin-top: 7.5px;
    list-style-type: none;
    position: relative;
    left: 25%;
    top: 25%;
}

.nav ul li {
    padding: 0px 20px;
    display: inline;  /* Items displayed vertical order */
}

.nav a {
    color: white;
    text-decoration: none;
}

.current {
    border-radius: 10px;
    box-shadow: inset 2px 2px 3px 0 #000000;
    background-color: #235b79;
}

.hovered_link {
    border-radius: 10px;
    box-shadow: inset 2px 2px 3px 0 #000000;
    background-color: #235b79;
    color: #000000;
}

/* The Interface to the Puzzle Creator */

.creator_background {
    background-color: #086ca2;
    margin: 20px;
    padding: 5px;
    border-radius: 5px;  /* rounded corners */
    overflow: hidden;
}

.creator_background a {
    color: white;
    text-decoration: none;
}

/* index.html */

.puzzle_btn {
    float: left;
    width: 29%;
    margin: 10px;
    padding: 5px;

    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 10px;

    text-align: center;
}

/* wordsearch.html */
#controls {
    margin: 10px;
    padding: 5px;
}

#wordcontrol {
    margin: 10px;
    padding: 5px;
}

#wordlist {
    width: 50%;
}