{% extends "layout.html" %}
{% block title %}About this site{% endblock %}
{% block content %}
		<div class="creator_background">
			<h1>About this site</h1>
			<p>
				Using this site, you will be able to create various wordpuzzles and save them as XLS files. Currently,
				only the popular word search is available, but there is a crossword puzzle creator in planning.
				<br/>
				<br/>
				This site is written using the popular <a href="http://flask.pocoo.org/">flask microframework</a> together with the <a href="http://www.python.org">python programming language</a>.
				Additionally, a bit of <a href="http://jquery.com/">jquery</a> made the site more accessible.
			</p>
		</div>
{% endblock %}