<!doctype html>
{% set navigation_bar = [
    ('/', 'index', 'Home'),
    ('/about', 'about', 'About')
] -%}
{% set active_page = active_page|default('index') -%}

<html lang="en">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <title>Puzzle Creation - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href={{ url_for('static', filename='puzzle.css') }}>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type=text/javascript>
            var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
        <script type="text/javascript" src={{ url_for('static', filename='puzzle.js') }}></script>
        {% endblock %}
    </head>
    <body>
        <div class="mainbody">
            <div class="nav">
                <ul>
                    {% for href, id, caption in navigation_bar %}
                        <li{% if id == active_page %} class="current"{% endif
                        %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% block content %}
            <div class="creator_background">
                <p>This block needs to be filled</p>
            </div>
            {% endblock %}
        </div>
    </body>
</html>
